tr.highlight_address > td { background-color: #222222 !important; color: #cccccc !important; }
.numbers { text-align: right; }
table.table-consolas {  font-family: Consolas; font-weight: normal; }
th { font-family: sans-serif; font-weight: bold; }
tfoot > tr { font-weight: bold; }
td.grayed { color: #c0c0c0; }